<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/ibm/Desktop/Simulator Screen Shot - iPhone 11 Pro Max - 2020-08-09 at 13.00.54.png</key>
	<data>
	Ym9vaywDAAAAAAQQMAAAAKhY54BjJfGPlUsedOaIJu7vgiM/CQkZv70jN2+swyXRHAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGlibQAHAAAAAQEAAERl
	c2t0b3AARgAAAAEBAABTaW11bGF0b3IgU2NyZWVuIFNob3QgLSBpUGhvbmUgMTEgUHJv
	IE1heCAtIDIwMjAtMDgtMDkgYXQgMTMuMDAuNTQucG5nAAAQAAAAAQYAABAAAAAgAAAA
	LAAAADwAAAAIAAAABAMAAIgAAAAAAAAACAAAAAQDAAC5cBgAAAAAAAgAAAAEAwAAUsM+
	AAAAAAAIAAAABAMAACidpAIAAAAAEAAAAAEGAACkAAAAtAAAAMQAAADUAAAACAAAAAAE
	AABBwnAHc3TlcxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAFAGXjoAAAAIAAAAAAQAAEHCAcGuG3ghJAAAAAEBAABEQTQ0QTAx
	MS1CM0YyLTREMEItQkQ1OC1FMTJGNENDRjM2QUQYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAGgAAAAEBAABOU1VSTERvY3VtZW50
	SWRlbnRpZmllcktleQAABAAAAAMDAAB2YwoA2AAAAP7///8BAAAAAAAAABEAAAAEEAAA
	jAAAAAAAAAAFEAAA5AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA2AEA
	AAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEAAAAA
	AAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAADsAQCAEAIAAAAAAAA=
	</data>
	<key>/Users/ibm/work/waypoint-tracker/Video/RawMaterial/ip11MaxEn-AddWaypoint.mov</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAANUHwUGIHRZhHW/4MeAlmQGTfWKfzVAvZMSt7je6JpktcAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGlibQAEAAAAAQEAAHdv
	cmsQAAAAAQEAAHdheXBvaW50LXRyYWNrZXIFAAAAAQEAAFZpZGVvAAAACwAAAAEBAABS
	YXdNYXRlcmlhbAAZAAAAAQEAAGlwMTFNYXhFbi1BZGRXYXlwb2ludC5tb3YAAAAcAAAA
	AQYAABAAAAAgAAAALAAAADgAAABQAAAAYAAAAHQAAAAIAAAABAMAAIgAAAAAAAAACAAA
	AAQDAAC5cBgAAAAAAAgAAAAEAwAADxmrAAAAAAAIAAAABAMAAL4+PgIAAAAACAAAAAQD
	AADDPj4CAAAAAAgAAAAEAwAAe16UAgAAAAAIAAAABAMAAM2dpAIAAAAAHAAAAAEGAAC8
	AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAEAABBwnAHiGNSphgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoA
	AAAIAAAAAAQAAEHCAcGuG3ghJAAAAAEBAABEQTQ0QTAxMS1CM0YyLTREMEItQkQ1OC1F
	MTJGNENDRjM2QUQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAAGgAAAAEBAABOU1VSTERvY3VtZW50SWRlbnRpZmllcktleQAABAAA
	AAMDAAB3YwoA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAmAAAAAAAAAAFEAAALAEAAAAA
	AAAQEAAAYAEAAAAAAABAEAAAUAEAAAAAAAACIAAALAIAAAAAAAAFIAAAnAEAAAAAAAAQ
	IAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAgIAAA
	DAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAgAEAAAAAAAARwAAAIAAAAAAAAAASwAAAkAEA
	AAAAAAAQ0AAABAAAAAAAAABAAgCAZAIAAAAAAAA=
	</data>
	<key>/Users/ibm/work/waypoint-tracker/Video/RawMaterial/ip8flow.mov</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAABgWdGNnPlrd/SnULgcOrGQ6nf1vO5zzGK1Uc2+LIZAyYAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGlibQAEAAAAAQEAAHdv
	cmsQAAAAAQEAAHdheXBvaW50LXRyYWNrZXIFAAAAAQEAAFZpZGVvAAAACwAAAAEBAABS
	YXdNYXRlcmlhbAALAAAAAQEAAGlwOGZsb3cubW92ABwAAAABBgAAEAAAACAAAAAsAAAA
	OAAAAFAAAABgAAAAdAAAAAgAAAAEAwAAiAAAAAAAAAAIAAAABAMAALlwGAAAAAAACAAA
	AAQDAAAPGasAAAAAAAgAAAAEAwAAvj4+AgAAAAAIAAAABAMAAMM+PgIAAAAACAAAAAQD
	AAB7XpQCAAAAAAgAAAAEAwAAwSGxAgAAAAAcAAAAAQYAAKwAAAC8AAAAzAAAANwAAADs
	AAAA/AAAAAwBAAAIAAAAAAQAAEHCc3sdv0+MGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
	LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcIBwa4b
	eCEkAAAAAQEAAERBNDRBMDExLUIzRjItNEQwQi1CRDU4LUUxMkY0Q0NGMzZBRBgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAA
	AQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAA5kCgDYAAAA/v//
	/wEAAAAAAAAAEQAAAAQQAACIAAAAAAAAAAUQAAAcAQAAAAAAABAQAABQAQAAAAAAAEAQ
	AABAAQAAAAAAAAIgAAAcAgAAAAAAAAUgAACMAQAAAAAAABAgAACcAQAAAAAAABEgAADQ
	AQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAoAgAA
	AAAAAAHAAABwAQAAAAAAABHAAAAgAAAAAAAAABLAAACAAQAAAAAAABDQAAAEAAAAAAAA
	ADACAIBUAgAAAAAAAA==
	</data>
	<key>/Users/ibm/work/waypoint-tracker/Video/RawMaterial/mapmovie.mov</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAAP2Mew4ujoA+RILDNUWNpm+Glo02QUIEsp1LuqaxK8V+YAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGlibQAEAAAAAQEAAHdv
	cmsQAAAAAQEAAHdheXBvaW50LXRyYWNrZXIFAAAAAQEAAFZpZGVvAAAACwAAAAEBAABS
	YXdNYXRlcmlhbAAMAAAAAQEAAG1hcG1vdmllLm1vdhwAAAABBgAAEAAAACAAAAAsAAAA
	OAAAAFAAAABgAAAAdAAAAAgAAAAEAwAAiAAAAAAAAAAIAAAABAMAALlwGAAAAAAACAAA
	AAQDAAAPGasAAAAAAAgAAAAEAwAAvj4+AgAAAAAIAAAABAMAAMM+PgIAAAAACAAAAAQD
	AAB7XpQCAAAAAAgAAAAEAwAAqdemAgAAAAAcAAAAAQYAAKwAAAC8AAAAzAAAANwAAADs
	AAAA/AAAAAwBAAAIAAAAAAQAAEHCcKiiBCobGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
	LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcIBwa4b
	eCEkAAAAAQEAAERBNDRBMDExLUIzRjItNEQwQi1CRDU4LUUxMkY0Q0NGMzZBRBgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAA
	AQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAIdjCgDYAAAA/v//
	/wEAAAAAAAAAEQAAAAQQAACIAAAAAAAAAAUQAAAcAQAAAAAAABAQAABQAQAAAAAAAEAQ
	AABAAQAAAAAAAAIgAAAcAgAAAAAAAAUgAACMAQAAAAAAABAgAACcAQAAAAAAABEgAADQ
	AQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAoAgAA
	AAAAAAHAAABwAQAAAAAAABHAAAAgAAAAAAAAABLAAACAAQAAAAAAABDQAAAEAAAAAAAA
	ADACAIBUAgAAAAAAAA==
	</data>
</dict>
</plist>
