<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/ibm/work/waypoint-tracker/Video/RawMaterial/ip8flow.mov</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAABgWdGNnPlrd/SnULgcOrGQ6nf1vO5zzGK1Uc2+LIZAyYAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGlibQAEAAAAAQEAAHdv
	cmsQAAAAAQEAAHdheXBvaW50LXRyYWNrZXIFAAAAAQEAAFZpZGVvAAAACwAAAAEBAABS
	YXdNYXRlcmlhbAALAAAAAQEAAGlwOGZsb3cubW92ABwAAAABBgAAEAAAACAAAAAsAAAA
	OAAAAFAAAABgAAAAdAAAAAgAAAAEAwAAiAAAAAAAAAAIAAAABAMAALlwGAAAAAAACAAA
	AAQDAAAPGasAAAAAAAgAAAAEAwAAvj4+AgAAAAAIAAAABAMAAMM+PgIAAAAACAAAAAQD
	AAB7XpQCAAAAAAgAAAAEAwAAwSGxAgAAAAAcAAAAAQYAAKwAAAC8AAAAzAAAANwAAADs
	AAAA/AAAAAwBAAAIAAAAAAQAAEHCc3sdv0+MGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
	LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcIBwa4b
	eCEkAAAAAQEAAERBNDRBMDExLUIzRjItNEQwQi1CRDU4LUUxMkY0Q0NGMzZBRBgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAA
	AQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAA5kCgDYAAAA/v//
	/wEAAAAAAAAAEQAAAAQQAACIAAAAAAAAAAUQAAAcAQAAAAAAABAQAABQAQAAAAAAAEAQ
	AABAAQAAAAAAAAIgAAAcAgAAAAAAAAUgAACMAQAAAAAAABAgAACcAQAAAAAAABEgAADQ
	AQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAoAgAA
	AAAAAAHAAABwAQAAAAAAABHAAAAgAAAAAAAAABLAAACAAQAAAAAAABDQAAAEAAAAAAAA
	ADACAIBUAgAAAAAAAA==
	</data>
</dict>
</plist>
